body{
    display: grid;
    grid-template-areas: 
    "cabeca cabeca cabeca"
    "secundario corpo corpo"
    "pé pé pé";
    grid-template-columns: 250px auto auto;
    grid-template-rows: 250px auto 250px;
    margin: auto;
}

header{
    grid-area: cabeca;
    background-color: rgb(246, 246, 239);
    text-align: center;
    border: solid 2px 0px 0px ;
    position: relative;
}

aside{
    grid-area: secundario;
    text-align: center;
    border-color: black;
    border-style: solid;
}

main{
    grid-area: corpo;
    background-color: rgb(228, 228, 228);
    text-align: center;
}

footer{
    grid-area: pé;
    background-color: rgb(22, 19, 19);
    text-align: center;
}

@media screen and (max-width: 800px){
        body{
            grid-template-areas: 
            "cabeca"
            "secundario"
            "corpo"
            "pé";
            grid-template-columns: 1fr;
            grid-template-rows:  auto auto auto auto;
        }
}


.mae{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.card{
    border: 2px solid;
    width: 275px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    transition: 0.3s;
    background-color: white;
    border-radius: 20px;

}

.card img{
    height: 80px;
    width: 80px;
}

.card:hover{
    background-color: black;
    color: white;
}

.logo{
    width: 220px;
    height: 220px;
}

.lupa{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
}