@font-face {
    font-family: Pixel;
    src: url(fonts/Crang.ttf);
}

@font-face {
    font-family: Pixel2;
    src: url(fonts/Minecraft.ttf);
}


body{
    display: grid;
    grid-template-areas: 
    "cabeca cabeca cabeca"
    "secundario corpo corpo"
    "pé pé pé";
    grid-template-columns: 250px auto auto;
    grid-template-rows: 250px auto 250px;
    margin: auto;
}

header{
    grid-area: cabeca;
    background-color: #561C9F;   
    border: solid 2px 0px 0px ;
    position: relative;
    font-family: monospace;
}

aside{
    grid-area: secundario;
    text-align: center;
    border-color: black;
    border-style: solid;
    background-color: #360657;
    background-image: url(file:///C:/Users/Cliente/Downloads/primeira_loja-main/imagens/NEXUS.gif);
    background-repeat: no-repeat;
    background-position: center;
}

main{
    grid-area: corpo;
    background-color: #C08FFF;
    text-align: center;
}


footer{
    grid-area: pé;
    background-color: rgb(34, 32, 32);
    text-align: center;
}

@media screen and (max-width: 800px){
        body{
            grid-template-areas: 
            "cabeca"
            "secundario"
            "corpo"
            "pé";
            grid-template-columns: 1fr;
            grid-template-rows:  auto auto auto auto;
        }
}


.mae{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.card{
    border: 3px #343434 solid;
    width: 275px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px;
    transition: 0.2s;
    background-color: white;
    border-radius: 20px;
}


.card:hover{
    color: white;
    background: linear-gradient(90deg, #b587e6, #d169d1);
    border-color: rgb(243, 115, 243)
}
.logo{
    width: 220px;
    height: 220px;
    position: absolute;
    left: 850px;
}

.lupa{
    position: absolute;
    top: 20px;
    right: 90px;
    border: none;
    background-color: #561C9F;
}

button img{
    width: 50px;
    height: 50px;
}

.emoji1{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    transition: 0.3s;
}

h1{
    position: absolute;
    top: 80px;
    left: 40px;
    font-family: Pixel;
}

.conta{
    position: absolute;
    top: -1px;
    right: 5px;
    width: 50px;
    height: 50px;
}

.card img{
    height: 100px;
    width: 100px;
    top: 10px;
    position: relative;
}

.botaocard{
    text-decoration: none;
    color: black;
}

.titulo{
    font-size: 80px;
    position: absolute;
    left: 780px;
    top: 20px;
}

.subtitulo{
    font-family: Pixel2;
    position: absolute;
    left: 810px;
    top: 150px;
}

.maeoferta{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.cardoferta{
    border: 3px #343434 solid;
    width: 275px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px;
    transition: 0.3s;
    background-color: white;
    border-radius: 20px;
}

.ofertatext{
    color: #ff0000;
}

.cardoferta:hover{
    color: white;
    background: linear-gradient(90deg, #b587e6, #d169d1);
    border-color: rgb(243, 115, 243)
}

.cardoferta img{
    height: 150px;
    width: 150px;
    top: 10px;
    position: relative;
}

.tec{
    border: solid black;
    width: 1000px;
    height: 1000px;
    background-color: white;
    position: relative;
    left: 300px;
    top: 100px;
    border-radius: 20px;
}

.tec img{
    width: 500px;
    height: 500px;
    position: relative;
    left: -80px;
}

.textotec{
    position: relative;
    top: 70px;
    left: 250px;
}

.bottec{
    border-radius: 50px;
    background-color: orange;
    border-color: rgb(0, 0, 0);
    width: 300px;
    height: 50px;
    position: relative;
    top: 250px;
}


.bottec2{
    border-radius: 50px;
    background-color: yellow;
    border-color: rgba(0, 0, 0, 0.993);
    width: 300px;
    height: 50px;
    position: relative;
    left: -50px;
    top: 200px;
}

.desc{
    position: relative;
    top: 70px;
    left: 250px;
}
