body{
    display: grid;
    grid-template-areas: 
    "cabeca cabeca cabeca"
    "secundario corpo corpo"
    "pé pé pé";
    grid-template-columns: 10%;
    grid-template-rows: 18% 200% 35%;
    margin: auto;
}

header{
    grid-area: cabeca;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

aside{
    grid-area: secundario;
    text-align: center;
    background-image: url(https://s2-autoesporte.glbimg.com/hiObnt0K_Q6QkKyOGqk-UE_v0zs=/0x0:1800x1012/924x0/smart/filters:strip_icc/i.s3.glbimg.com/v1/AUTH_cf9d035bf26b4646b105bd958f32089d/internal_photos/bs/2022/Q/8/Bb51JTSmuPuDs4enaVtg/lamborghini-urus-performante-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: rgb(0, 255, 55);
    border-style: solid;
}

main{
    grid-area: corpo;
    background-color: rgb(145, 186, 88);
    text-align: center;
}

footer{
    grid-area: pé;
    background-color: rgb(22, 19, 19);
    text-align: center;
}

@media screen and (max-width: 800px){
        body{
            grid-template-areas: 
            "cabeca"
            "secundario"
            "corpo"
            "pé";
            grid-template-columns: 1fr;
            grid-template-rows:  auto auto auto auto;
        }
}
/*
.tele{
    position: relative;
    height: 25px;
    width: 25px;
    left: -3%;
}

.insta{
    height: 25px;
    width: 25px;
    position: relative;
    left: -6%;
    bottom: -20%;
}

.face{
    height: 25px;
    width: 25px;
    position: relative;
    left: -4.4%;
    bottom: -51%;
}

.book{
    position: relative;
    color: chartreuse;
    left: 0.8%;
    bottom: -15%;
}

.gram{
    position: relative;
    color: chartreuse;
    left: -3%;h4,  h2, h4, h3{
        color: rgb(252, 252, 252);
    }
    
    bottom: 18%;
}

.styllo{
    position: relative;
    bottom: 2%;
}

.gol{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50px;
    left: 10%;
    border-style: ridge;
    border-color: rgb(0, 0, 0);
}
    border: 2px solid red;
.kitr{
    position: relative;
    left: 11%;
}

.pgol{
    position: relative;
    left: 15%;
    bottom: 2%;
}


.fone{
    position: relative;
    bottom: 20%;
}
*/

.mae{
    height: 300px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.card{
    border: 2px solid;
    width: 275px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    transition: 0.3s;
    background-color: rgb(218, 255, 167);
    border-radius: 20px;

}

.card img{
    height: 80px;
    width: 80px;
}

.card:hover{
    background-color: black;
    color: white;
}